<!DOCTYPE html>
<html>
<head>
    <title>Xác nhận reset mật khẩu tài khoản</title>
</head>
<body>
<h3>Hệ thống đã reset mật khẩu đối với tài khoản <b>{{ user_email }}</b></h3>
<p>Mật khẩu mới của tài khoản là:</p>
<p><b>{{ new_pass }}</b></p>

</body>
</html>